* {
    font-family:
        Helvetica Neue,
        Segoe UI,
        sans-serif;
    margin: 0;
}

input[type="text"] {
    width: 300px;
}

:checked + input[type="text"] {
    color: gray;
    font-style: italic;
    text-decoration: line-through;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

#profile-creation-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    font-size: 1.5rem;
    gap: 2vw;
    background-color: sandybrown;
}

#send-message-loading {
    height: 5vh;
    display: none;
}

.question-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}